.inputs {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .segment-label {
    display: flex;
    height: 2rem;
  }
  
  .color {
    height: 100%;
    aspect-ratio: 1;
  }
  
  .label {
    padding: 0.25rem;
  }
  